# pps files to ignore:
license.txt
*.bad

# Test input files
*.abc*

# - Results file:
[tp]pfactors.txt
cwpfactors.txt
[tp]pcheck*.txt
cwpcheck*.txt

# Binaries:
[tp]psieve-*-linux
cwpsieve-*-linux

# BOINC files:
boinc_finish_called
init_data.xml
stderr.txt

# Recursive definitions:
CHANGES.txt
